<div class="has-text-centered">

  <h1 class="title">
    Welcome to {{ title }}!
  </h1>

  <div class="columns has-text-centered">

    <div class="column">
    </div>

    <div class="column">

      <div class="file has-name">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" type="file" (change)="onUploadInput($event.target.files)">
          <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose input file…
      </span>
    </span>
          <span class="file-name">
          {{inputFileName}}
    </span>
        </label>
      </div>
    </div>

    <div class="column">

      <div class="file has-name">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" type="file"
                 (change)="onUploadPattern($event.target.files)">
          <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose pattern file…
      </span>
    </span>
          <span class="file-name">
          {{patternFileName}}
    </span>

        </label>
      </div>

    </div>

    <div class="column">
      <button (click)="onClickCompare()" class="button is-success">Compare files</button>
    </div>

  </div>


  <div>
    <h3 class="subtitle">Mode 1 outputs</h3>
    <span *ngFor="let item of matchLines; index as i;">
    {{item}} <br>
    </span>
  </div>

  <div>
    <h3 class="subtitle">Mode 2 outputs</h3>
    <span *ngFor="let item of matchLinesMode2; index as i;">
    {{item}}<br>
    </span>
  </div>

  <div>
    <h3 class="subtitle">Mode 3 outputs</h3>
    <span *ngFor="let item of matchLinesMode3; index as i;">
     {{item}} <br>
    </span>
  </div>

</div>
